# Исключить объектные файлы и исполняемые файлы
*.o
*.exe
*.out

# Исключить папки, созданные IDE или текстовыми редакторами
.vscode/
.idea/
*.swp
*.swo

# Исключить папки сборки и временные файлы
build/
temp/

# Исключить системные файлы
.DS_Store
Thumbs.db
